body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefefe; 
  background-color: #e9f4fcd3;
}

.capitalized {
  text-transform: capitalize;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.ui.center.aligned.segment.content-container,
div.row.content-container,
.content-container {
  padding-bottom: 20em;
  background-color: #fefefe;
}

div.header.item {
  color: rgb(156, 102, 31) !important;
  font-size: 1.5em;
}


.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
}

.text-content {
  padding-bottom: 5em;
}

ul {
  list-style-type: none;
}

.weather-icon {
  background: lightskyblue;
}


